name: Build and Push Docker image to docker.io

on: push

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Go 1.17.9
        uses: actions/setup-go@v3
        with:
          go-version: '1.17.9'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and deploy
        run: |
          make docker-build docker-push IMG=tkircsi/${{ github.repository }}:v0.0.1
